$primary: #11998e;
$secondary: #38ef7d;
$white: #fff;
$gray: #9b9b9b;

.userEntry {
    grid-column: 3 / 7;
    grid-row: 3 / 6;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    
    #label {
        font-size: 50px;
        margin-bottom: 2rem;
        text-align: center;
        font-family: 'Dancing Script', cursive;
        font-family: 'Lobster', cursive;
        font-family: 'Pattaya', sans-serif;
        font-family: 'Satisfy', cursive;

    }
    .name{
        justify-self: center;
        font-size: 40px;
        font-family: 'Dancing Script', cursive;
        font-family: 'Lobster', cursive;
        font-family: 'Pattaya', sans-serif;
        font-family: 'Satisfy', cursive;

        &:hover {
            cursor: pointer;
        }
    }
    #input {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 70%;
        border-bottom: 2px solid $gray;

        #username {
            width: 100%;
            border-style: none;
            background-color: transparent;
            outline-style: none;

            font-family: 'Dancing Script', cursive;
            font-family: 'Lobster', cursive;
            font-family: 'Pattaya', sans-serif;
            font-family: 'Satisfy', cursive;
            font-size: 2rem;
        }

        ::placeholder {
            font-size: 25px;
            color: black;
            font-family: 'Dancing Script', cursive;
            font-family: 'Lobster', cursive;
            font-family: 'Pattaya', sans-serif;
            font-family: 'Satisfy', cursive;
        }
        
       
        
    }

    
    
}

#submit {
    margin-top: 20px;
    width: 20%;
    border-style: none;
    outline-style: none;
    background-color: transparent;
    font-size: 1.75rem;

    font-family: 'Dancing Script', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Pattaya', sans-serif;
    font-family: 'Satisfy', cursive;

}

#submit:hover {
    cursor: pointer;
    background-color: lightgray;
}

#greetingDisplay {
    display: flex;
    
}