#mainFocus {
    grid-column: 4 / 6;
    grid-row: 5;

    text-align: center;
    width: fit-content;
    justify-self: center;
    align-self: end;
   

}
#focusHeader {
    grid-column: 4 / 6;
    grid-row: 5;

    text-align: center;
    width: fit-content;
    justify-self: center;
    align-self: start;
    display: none;
}

#inputFocus {
    grid-column: 4 / 6;
    grid-row: 5;
    place-self: center;
    display: none;

    width: 100%;
    border-bottom: 2px solid gray ;

    .inputFocus {
        
        border-style: none;
        background-color: transparent;
        outline-style: none;
    }
    
    ::placeholder {
        font-size: 15px;
        color: black;
    }
}

#focusMain {
    text-align: center;
    grid-column: 3 / 7;
    grid-row: 6 / 9;
    justify-self: center;
    align-self: start;
    
}