/* Include the padding and border in an element's total width and height */
*{
    box-sizing: border-box;
}

#toDoContainer{
      width: 100%;
      display: none;
      place-self: end;

      grid-column: 7 / 9;
      grid-row: 3 / 8;

      background-color: rgba(255, 255, 255, .15);  
      backdrop-filter: blur(5px);

      border-radius: 4px;

      
}

/* Remove margins and padding from the list */
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
  
/* Style the list items */
ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
  
  /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
    background: #f9f9f9;
}
  
/* Darker background-color on hover */
ul li:hover {
    background: #ddd;
}
  
  /* When clicked on, add a background color and strike out text */
ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}
  
  /* Add a "checked" mark when clicked on */
ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}
  
  /* Style the close button */
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}
  
.close:hover {
    background-color: #f44336;
    color: white;
}
  
  /* Style the header */
.header {
    background-color: transparent;
    padding: 5px 10px;
    color: white;
    text-align: center;
    // position: relative;
}
// .header::before {
//     content: "";
//     background: gray;
//     opacity: 0.5;
//     position: absolute;
//     top: 0px;
//     right: 0px;
//     bottom: 0px;
//     left: 0px;
// }
  
  /* Clear floats after the header */
  .header:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the input */
  input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
  }
  
  /* Style the "Add" button */
  .addBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
  }
  
  .addBtn:hover {
    background-color: #bbb;
  }

  #toDoBtn {
    margin: 30px 30px;
    border-radius: 15px;
    border: none;
    outline: none;
    display: none;
    cursor: pointer;
    box-shadow: 0 5px #999;

    font-family: 'Dancing Script', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Pattaya', sans-serif;
    font-family: 'Satisfy', cursive;

    font-size: 15px;
    
    grid-column: 8;
    grid-row: 8;
    
  }

  // #toDoBtn:hover {
  //   background-color: pink;
  // }

  #toDoBtn:active {
    // background-color: pink;
    box-shadow: 0 5 #666;
    transform: translateY(4px);
  }
